# OpenAI Configuration (Required)
OPENAI_API_KEY = 

# Qdrant Cloud Configuration (Required)
QDRANT_URL=
QDRANT_API_KEY=

# Collection Settings
COLLECTION_NAME=

# Document Processing Settings
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# Model Configuration
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini
LLM_TEMPERATURE=0

# Retrieval Settings
RETRIEVAL_K=4

# Logging
LOG_LEVEL=INFO

# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=